.logo-sony {
    height: 20px;
}

#hero {
    background-image: url(./img/jumbo-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.returnal-logo {
    height: 30px;
}

.border {
    border-radius: 20px;
}

.border-b {
    border-radius: 20px;
    border: black;
    width: 150px;
}

.blue-color {
    color: #338ed8;
}

.size {
    font-size: 12px;
    width: 20px;
}

.img-size {
    width: 120px;
}

.play-size {
    width: 90%;
}

#it-takes-two {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.it-takes-two-logo {
    height: 120px;
    margin-top: 30px;
}

.size-b {
    font-size: 30px;
}

.p-size {
    justify-content: center;
    margin: auto;
    color: grey;
}

.col-hov {
    opacity: 75%;
}

.col-hov:hover {
    opacity: 100%;
    border-bottom: #338ed8 1px solid; 
}

.hovereffect:hover {
    border: #338ed8 solid;
    border-radius: 20px;
    padding: 3px;
}

.hovereffect {
    border-radius: 20px;
}

.bg-custom-plus {
    background-color: #bebcbb;
}

.psplus-logo {
    width: 80%;
}

.psnow-logo {
    width: 80%;
}

@media screen and (max-width:426px){
    .none {
        display: none;
    }
}

.custom-button-plus {
    background-color: #d9dadc;
    color:#3167e6;
    border: #d9dadc;
}

.custom-button-now {
    background-color: white;
    color: black;
    border: white;
}

.bg-custom-now {
    background-color: #161c3b;
}