.sony {
    display: flex; 
    justify-content: end;
    background-color: black;
    padding-bottom: 20px;
}

.sony-logo {
    width: 20%;
    margin-top: 15px;
    margin-right: 18px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
} 

.card-img-overlay {
    position: static;
    height: 600px;
    background-position: top;
    background-image: url(./img/jumbo-bg.png);
}

.p-jumbo {
    height: 20%;
}