.logo-sony {
    height: 20px;
}

#hero {
    background-image: url(./img/jumbo-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.returnal-logo {
    height: 30px;
}

.border {
    border-radius: 20px;
}

.blue-color {
    color: #338ed8;
}

.size {
    font-size: 12px;
    width: 20px;
}

.col-hov {
    opacity: 0.5; 
    padding-bottom: 10px;
}

.col-hov:hover {
    opacity: 1.0;
    border-bottom: 1px solid #338ed8;
}

.img-size {
    width: 120px;
}

.play-size {
    width: 90%;
}

#it-takes-two {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.it-takes-two-logo {
    height: 120px;
    margin-top: 30px;
}